body {
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  background-color: #eee7ee;
  /* color: var(--COLOR); */
  background-image: url('./img/allbook.jpg');
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
